{% extends "base.html" %}

{% block content %}
<div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form action="" method="post">
        <h2>Input your QR login url:</h2>
        <input class="form-control" type="text" name="qr-url" value="">
        <div>
            <input id="login-on-browser" type="checkbox" name="login-on-browser" />Login on browser
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock content %}
