{% extends "base.html" %}

{% block title %}qr{% endblock title %}

{% block js %}
<script>
    window.config = {
        query_uri: '{{url_for("query", qr_id=qr_id)}}',
    }
</script>
<script src="{{url_for('static', filename='index.js')}}"></script>
{% endblock %}

{% block content %}
<img class="qr-img" src="{{qr_img}}" alt="qr_img">
<div id="wx_default_tip">
    <h4>Use wechat scan to login.</h4>
    <p>{{site_name}}</p>
</div>
<div id="wx_after_scan" style="display: none">
    <h4>Scan successed!</h4>
    <p>Click [LOGIN] button on your wechat to login.</p>
</div>
<div id="wx_after_cancel" style="display: none">
    <h4>Login cancel!</h4>
    <p>Scan the QR code to do login again.</p>
</div>
<div id="login_url">
    <h4></h4>
    <p></p>
</div>
{% endblock content %}
